<!Doctype html>
<html>
<title>My webpage</title>
<body style ="background-color: Red">
<h1>I love Harish</h1>
<p title = "webpage"> Harish is the best</p>
<img src = "IMAG0345.jpg" width = "155" height = "200"><br>
our first outing</img></br>
</body>
</html>